body{
    margin: 0;
    height: auto;
    width: auto;
    background-color: rgb(156, 201, 203);
}

h1{
    color: rgb(5, 4, 4)
}

h4{
    color: rgb(3, 3, 3)
}

.Homeform{
    display: inline-block;
    padding:auto; 
    background-color: rgb(89, 171, 209);
    text-decoration: none;
    border: none;
    border-radius: auto;
}

button {
    background-color:rgb(80, 61, 186);
    padding: auto; 
    text-decoration: none;
    border: none;
    border-radius: auto;
}
